/*Make sure you concentrate on order*/
@font-face {
	font-family: 'openSans';
	src: url(fonts/Open_Sans/OpenSans-Regular.ttf);

}

@font-face {
	font-family: 'openSansBold';
	src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
	font-weight: bold;
}


@font-face {
	font-family: 'Kurale';
	src: url(fonts/Kurale/Kurale-Regular.ttf);
}



body {

}

.lesson7 {
	font-family: Kurale;
	color: white;
	max-width: 1100px;
	overflow: auto;
	font-size: 100%;
	margin: auto;
}

header {
	border-bottom: 10px solid rgb(39,68,76);
	overflow: auto;
	padding: 4% 2%;
	position: relative;
}


h1 {
	float: left;
	font-size: 375%;
}


.navWide {
	float: right;
	width: 48%;


}

.navWide a { 
	margin: 30px 6%;
	font-size: 188%;
	text-decoration: none;
	display: inline-block;


 }

.navWide .rightLink {
	margin-right: 0px;
}

.navWide .active {
	background-color: rgb(39,68,76);
	padding: 8px;
}

.navMobile {
	display: none;
}

.burgerMenu {
	display: none;
}

h2, h3, h4 {
	font-size: 287.5%;
	display: inline-block;
	font-family: Kurale;
}


a {
	color: white;
}


.about {
	color: black;
	background-image: url(../images/articleBackground.png);
	padding: 3% 2%;
	overflow: auto;
} 


.aboutMore {
	color: black;
	float: right;
}

.recentWork {
	background-color: rgb(156,161,164);
	position: relative;
	padding: 3% 2%;
}


.about p {
	max-width: 680px;
	margin: 40px 0px;
}

.about p, .aboutMore, .getInTouch {
	font-size: 112.5%;
	font-family: openSans;

}


footer {
	background-color: rgb(39,68,76);
	color: white;
	padding: 4% 2% 2% 2%;
}

.formSubmit {
	background: linear-gradient(rgb(51,81,89), rgb(34,64,71));
	font-family: Kurali;
	color: white;
}

.recentWork a, .formSubmit, nav .active {
	border-radius: 5px;
}

header, .getInTouch, .seeMore {
	background: linear-gradient(rgb(195,218,28), rgb(177,197,25));

}


.seeMore {
	display: inline-block;
	padding: 10px 20px;
	font-size: 187.5%;
	position: absolute;
	top: 30px;
	right: 40px;
	
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;

}

.images img {
	margin: 20px;
	border: white solid 7px;
}

.burger {
	margin: 0;
	border: none;
	display: none;
}


.getInTouch {
	padding: 3.3% 2% 9% 2%;
	position: relative;

}

.getInTouch p {
	margin: 50px 0px;
}

#fName, #email, #msg  {
	display: block;
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 10px;
}

.getInTouch input {
	width: 100%;
	margin-bottom: 3%;
}

.getInTouch label {
	margin-top: 5%;
}

.formLeft input {
	height: 50px;
}

.formRight input {
	height: 160px;
}

.formLeft, .formRight {
	display: inline-block;
	width: 46%;
}


.formRight {
	vertical-align: top;
	width: 46%;
	margin-left: 6%;
}

.formSubmit {
	max-width: 100px;
	font-size: 187.5%;
	position: absolute;
	right: 3.3%;
	bottom: 2.2%;

	

}

label {
	margin-bottom: 20px;
}

footer p {
	text-align: center;
	font-family: openSans;
	font-size: 80%;

}


p {
	margin-left: 15px;
}



@media screen and (max-width: 700px) {

	body {
		font-size: 80%;

	}

	h1 {
		margin-bottom: 25px;
	}

	.navWide {
		display: none;
	}


	.navMobile { 
		display: flex;
		justify-content: space-around;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgb(39,68,76);
		padding-top: 5px;

	 }

	 .navMobile a {
		margin: 0% 10%;
		font-size: 150%;
		text-decoration: none;

	}


	.burgerMenu {
		display: block;
		position: absolute;
		right: 5%;
		top: 15%;

	}

	.burgerMenu div {
		width: 35px;
		height: 10px;
		background-color: white;
		margin: 6px 0px;
	}

	.images img {
		margin: 15px;
	}


	.seeMore {
		padding: 1.5% 1.5%;
	}


	.formLeft, .formRight {
		display: block;
		margin: 0;
		width: 98%;
	}

	.formSubmit {
		max-width: 80px;
		bottom: 0;
	}

 
}



